// utils
@import 'utils/animations';
@import 'utils/fonts';
@import 'utils/resets';
@import 'utils/variables';

html, body {
  margin: 0;
  background-color: $color--dark;
  color: $color--light;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: $padding-s;
  @media screen and (min-device-width: $medium) {
    padding: $padding-m;
  }
  @media screen and (min-device-width: $large) {
    padding: $padding-l;
  }

  div {
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &.header__block--visible {
      opacity: 1;
      transition: opacity 0.2s;
    }
    h2 {
      font-family: GarconneDisplayV;
      font-size: $padding-m;
      @media screen and (min-device-width: $medium) {
        font-size: $padding-l;
      }
    }
  }
}

.splash--text {
  h1 {
    font-family: GarconneDisplayV;
    animation: animate-type 3s infinite alternate;
  }
  #start {
    background-color: $color--main-blue;
    width: 120px;
    height: 60px;
    border-radius: 40px;
    position: fixed;
    right: 100px;
    bottom: 50vh;
    color: $color--light;
  }
}


.sky {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  &__star {
    animation: twinkle infinite;
    background-color: #fff;
    position: fixed;
    transform: rotate(45deg);
  }
}

.comet1 {
  position: fixed;
  bottom: 0;
  left: 0;
  animation: comet1 6s infinite;
}

.comet2 {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  animation: comet2 15s infinite 1s;
}

.star {
  animation: twinkle infinite;
  background-color: #fff;
  position: fixed;
  transform: rotate(45deg);
}

.sun {
  animation: sunshine 16s infinite;
  position: fixed;
  width: 20vh;
  height: 20vh;
  right: -8vh;
  top: -8vh;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f26e0e 0%,
    rgba(196, 196, 196, 0) 100%
  );
}

.moon {
  height: 200vh;
  width: 200vh;
  position: fixed;
  top: 40vh;
  background-color: $color--dark;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  position: fixed;

  &__shine {
    background: radial-gradient(50% 50% at 50% 50%, #0007E4 3.55%, rgba(0, 7, 228, 0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
  }

  &__alien {
    position: absolute;
    opacity: 0.3;
    transition: opacity 0.2s;

    &--active {
      opacity: 1;
      transition: opacity 0.2s;
      .moon__alien--et {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }

    &:hover {
      z-index: 1;
    }

    &--et {
      position: absolute;
      opacity: 0;
      transition: opacity 0.1s;
    }

    &#alien1 {
      left: 56vh;
      top: 20vh;
      .moon__alien--crater {
        height: 8vh;
      }
      .moon__alien--et {
        right: 23%;
        top: -67%;
        height: 12vh;
      }
    }
    &#alien2 {
      left: 90vh;
      top: 12vh;
      .moon__alien--crater {
        height: 9vh;
      }
      .moon__alien--et {
        left: 50%;
        transform: translateX(-50%);
        bottom: 50%;
        height: 13vh;
      }
    }
    &#alien3 {
      left: 131vh;
      top: 23vh;
      .moon__alien--crater {
        height: 15vh;
      }
      .moon__alien--et {
        top: -48%;
        left: 23%;
        height: 18vh;
      }
    }
    &#alien4 {
      left: 47vh;
      top: 44vh;
      .moon__alien--crater {
        height: 22vh;
      }
      .moon__alien--et {
        top: -27%;
        left: -44%;
        height: 20vh;
      }
    }
    &#alien5 {
      left: 75vh;
      top: 30vh;
      .moon__alien--crater {
        height: 18vh;
      }
      .moon__alien--et {
        top: -44%;
        left: -20%;
        height: 21vh;
      }
    }
    &#alien6 {
      left: 107vh;
      top: 43vh;
      .moon__alien--crater {
        height: 26vh;
      }
      .moon__alien--et {
        top: -27%;
        left: 35%;
        height: 21vh;
      }
    }
  }

}
