@keyframes animate-type {
  0% {
    font-variation-settings: "wght" 400;
    letter-spacing: 0;
  }
  100% {
    font-variation-settings:"wght" 900;
    letter-spacing: 2%;
  }
}

@keyframes comet1 {
  0% {
    transform: translateX(60vw) translateY(30vh);
  }

  100% {
    transform: translateX(-66vw) translateY(-100vh);
  }
}

@keyframes comet2 {
  0% {
    transform: translateX(-40vw) translateY(-20vh);
    opacity: 1;
  }

  100% {
    transform: translateX(166vw) translateY(100vh);
  }
}

@keyframes sunshine {
  0% {
    width: 20vh;
    height: 20vh;
  }
  50% {
      width: 24vh;
      height: 24vh;
  }
  100% {
      width: 20vh;
      height: 20vh;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
