@font-face {
  font-family: 'GarconneDisplayV';
  src: url('src/assets/fonts/GarconneDisplayExtraGras.otf');
}

@font-face {
  font-family: 'BandeinsStrangeV';
  src: url('src/assets/fonts/BandeinsStrangeVariable.otf');
}
