// utils
@import 'utils/animations';
@import 'utils/resets';
@import 'utils/variables';

html, body {
  margin: 0;
  background-color: $color--dark;
  color: $color--light;
}

.sky {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  &__star {
    animation: twinkle infinite;
    background-color: #fff;
    position: fixed;
    transform: rotate(45deg);
  }
}

.comet1 {
  position: fixed;
  bottom: 0;
  left: 0;
  animation: comet1 6s infinite;
}

.comet2 {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  animation: comet2 15s infinite 1s;
}

.star {
  animation: twinkle infinite;
  background-color: #fff;
  position: fixed;
  transform: rotate(45deg);
}

.sun {
  animation: sunshine 16s infinite;
  position: fixed;
  width: 20vh;
  height: 20vh;
  right: -8vh;
  top: -8vh;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f26e0e 0%,
    rgba(196, 196, 196, 0) 100%
  );
}

.moon {
  height: 200vh;
  width: 200vh;
  position: fixed;
  top: 40vh;
  background-color: $color--dark;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  position: fixed;

  &__shine {
    background: radial-gradient(50% 50% at 50% 50%, #0007E4 3.55%, rgba(0, 7, 228, 0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
  }

  &__alien {
    position: absolute;
    opacity: 0.3;
    transition: opacity 0.2s;

    &--active {
      opacity: 1;
      transition: opacity 0.2s;
      .moon__alien--et {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }

    &:hover {
      z-index: 1;
    }

    &--et {
      position: absolute;
      opacity: 0;
      transition: opacity 0.1s;
    }

    &#alien1 {
      left: 56vh;
      top: 20vh;
      .moon__alien--crater {
        height: 8vh;
      }
      .moon__alien--et {
        right: 23%;
        top: -67%;
        height: 12vh;
      }
    }
    &#alien2 {
      left: 90vh;
      top: 12vh;
      .moon__alien--crater {
        height: 9vh;
      }
      .moon__alien--et {
        left: 50%;
        transform: translateX(-50%);
        bottom: 50%;
        height: 13vh;
      }
    }
    &#alien3 {
      left: 131vh;
      top: 23vh;
      .moon__alien--crater {
        height: 15vh;
      }
      .moon__alien--et {
        top: -48%;
        left: 23%;
        height: 18vh;
      }
    }
    &#alien4 {
      left: 47vh;
      top: 44vh;
      .moon__alien--crater {
        height: 22vh;
      }
      .moon__alien--et {
        top: -27%;
        left: -44%;
        height: 20vh;
      }
    }
    &#alien5 {
      left: 75vh;
      top: 30vh;
      .moon__alien--crater {
        height: 18vh;
      }
      .moon__alien--et {
        top: -44%;
        left: -20%;
        height: 21vh;
      }
    }
    &#alien6 {
      left: 107vh;
      top: 43vh;
      .moon__alien--crater {
        height: 26vh;
      }
      .moon__alien--et {
        top: -27%;
        left: 35%;
        height: 21vh;
      }
    }
  }

}


#start {
  background-color: purple;
  width: 100px;
  height: 100px;
  position: fixed;
  font-family: 'BandeinsStrangeV';
}